import { ReactNode } from 'react';

interface {{pascalCase name}}Props {
  children?: ReactNode;
}

/**
 * {{pascalCase name}} Component
 */
export default function {{pascalCase name}}({ children }: {{pascalCase name}}Props) {
  return (
    <div>
      {children}
    </div>
  );
} 